.name {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-left: 145px;
}
ul{
    margin-right: 150px;
}
body{
    background:url("/assets/intersection.png")
}
.row{
    background-color: white;
    
}
nav{
    border-bottom: 2px solid grey;
}

.container{
    border: 1px solid lightgray;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: white;
    width: 960px;
}
img{
    margin-bottom: 20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightgray;
    padding: 30px 0 30px 30px;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 2em;
}
footer {
    background-color: #666666;
    text-align: center;
    font-size: .75em;
    height:45px;
    padding-top: 15px;
    color:#cccccc;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 5px solid #4aaaa5;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
button{
    margin-bottom: 15px;
}
.col-sm-3{
    margin: 10px;
    
}
h5{
    background-color: #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}
.nav-item{
    border-right: 1px solid #cccccc;

}
.link{
    color: white;
}
